body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../image/Bakcground.png);
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
}
.about {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.header {
  position: relative;
  height: 80vh;
  min-height: 600px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/Header1.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/Header1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.header .container {
  position: relative;
  height: 100%;
}

.header .header-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.header .header-content .header-subtitle {
  font-weight: 200;
  font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.header .header-content .header-title {
  font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: .7;
  margin-bottom: 25px;
  color: inherit;
}

.header .header-content .header-mono {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .header {
    height: 500px;
    min-height: 500px;
  }
  .header .social-icons {
    margin: auto;
  }
  .header .header-content {
    padding: 20px;
  }
  .header .header-content .header-mono {
    letter-spacing: 2px;
  }
}

.header-title {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: .8;
  color: #212529;
}

.header-mini {
  min-height: 24rem;
  height: 24rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #fcbec6;
}

.navbar-nav > li{
  display: inline-block;
  padding: 10px;
}

.navbar-nav > ul {
  list-style-type: none;
}


.left {
  position: relative;
  right: 30px;
}

.right {
  float: right;
}

.line1 {
  background-color: white;
  width: 100%;
  height: 5px;
  position: relative;
  text-align: center;
}
.about1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.about2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight:normal;
  color: white;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: white;
  text-align: center;
  
}